body {
  background-color: black;
}

/* Header */
.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Logo */
.logo {
  font-weight: 800;
  padding: 12px 0 12px 0;
  font-size: 30px;
}
