body {
  background-color: black;
}

/* Header */
.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Logo */
.logo {
  font-weight: 800;
  padding: 12px 0 12px 0;
  font-size: 30px;
}

/* Add-section */
.Add-section {
  padding: 12px 0 12px 0;
}

/* add - Button */
#add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  outline: none;
  background: none;
}

#add-btn {
  width: 70px;
  height: 30px;
  border-radius: 30px;
}

/* add-button effects */
#add-btn:hover {
  background: black;
  color: white;
  font-weight: 800;
  transition: 0.5s ease-in;
  transform: scale(1.2);
}

/* Book-info content */
.book-inform-section {
  position: absolute;
  visibility: hidden;
  top: 50%;
  border-radius: 20px;
}
.book-inform-section h2 {
  text-align: center;
}
.book-inform-section {
  border: 1px solid black;
}
.book-inform-section form {
  margin: 0 5px 0 5px;
}

.book-inform-section .bookInputs {
  display: flex;
  flex-direction: column;
}

#submitBtn {
  width: 40%;
  height: 35px;
  margin-top: 25px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;
}

#submitBtn:hover {
  transition: 0.5s ease-in;
  box-shadow: 5px 3px black;
}

/* Toggles the boox infor page to show up */
.active {
  width: 300px;
  height: 300px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  visibility: unset;
}

.conBlur {
  filter: blur(2px);
}

/* Main content - container */
.main-content {
  display: flex;
  background-color: white;
  justify-content: center;
}

/* Table */
#Books-table {
  width: 56%;
  height: 19em;
  display: flex;
  font-size: 30px;
  justify-content: center;
  border: 1px solid;
  margin-bottom: 10px;
}

#Books-table tr {
  display: grid;
  gap: 50px;
  grid-template-columns: 2fr 2fr 2fr 1fr;
}
